# Ignorar ejecutables y binarios grandes
*.exe
*.dll
*.db
*.log
*.pdb
*.zip
*.tar
*.gz

# Ignorar carpetas de compilación
/frontend/ngpro-mantenimientos-frontend/node_modules/
/logs/

# Ignorar archivos temporales
*.tmp
*.swp
